<div class="col s3">
    <ul class="collapsible">
        <li>
            <div class="collapsible-header">
                <i class="material-icons">home</i>
                Catálogo de Disciplinas
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <i class="material-icons">format_list_bulleted</i>
                Cadastro de Catálogo
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <i class="material-icons">help</i>
                Ajuda
            </div>
        </li>

    </ul>
</div>