<div>
    <div class="col s9">
        <div class="row">
            <ng-container *ngFor="let res of disciplines$ | async">
                <div class="col s10 m5 l3">
                    <div class=" card white">
                        <div class="card-catalog-card-title">
                            <p class="card-catalog-content-card">
                                <i class="material-icons">dvr</i>
                                {{res.schoolDiscipline}}
                            </p>
                        </div>


                        <div class="card-content white" style="padding: 10px; display: inline-flex;">
                            <i class="material-icons">star</i>
                            <p class="card-catalog-text-content">Conteúdos Cadastrados</p>
                        </div>
                        <div class="card-action center">
                            <a class="waves-effect  btn"
                                style="background-color: #2E3C5B;     padding: 0px 50px;">Acessar</a>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <a class="btn-floating btn-large waves-effect waves-light red right"><i class="material-icons">add</i></a>
    </div>
</div>