<div class="col s9">
    <div class="row">
        <div class="col s2 m5 l3">
            <div class="card white">
                <div style="background-color: #D5741B;">

                    <p style="
                    display: flex;
                    width: max-content;
                    padding: 10px 24px 10px 40px;
                    color: cornsilk;
                    font-family: serif;
                    font-weight: bold;
                    
                    "><i class="material-icons">dvr</i>Matemática cód 1</p>
                </div>
                <div class="card-content white" style="padding: 10px; display: inline-flex;">
                    <i class="material-icons">star</i>
                    <p style="color: rgba(0,0,0,0.60); 
                    font-family: sans-serif;
                    margin-left: 10px;
                    width: max-content;
                    
                    ">Ano</p>
                </div>
                <div class="card-content white" style="padding: 10px; display: inline-flex;">
                    <i class="material-icons">star</i>
                    <p style="color: rgba(0,0,0,0.60); 
                    font-family: sans-serif;
                    margin-left: 10px;
                    width: max-content;
                    
                    ">Professor(a) Nome </p>
                </div>
                <div class="card-content white" style="padding: 10px; display: inline-flex;">
                    <i class="material-icons">star</i>
                    <p style="color: rgba(0,0,0,0.60); 
                    font-family: sans-serif;
                    margin-left: 10px;
                    width: max-content;                    
                    ">Conteúdos Cadastrados</p>
                </div>
                <div class="card-action center">
                    <a class="waves-effect  btn" style="background-color: #2E3C5B;     padding: 0px 50px;">Acessar</a>
                </div>
            </div>
        </div>
        <div class="col s2 m5 l3">
            <div class="card white">
                <div style="background-color: #D5741B;">

                    <p style="
                    display: flex;
                    width: max-content;
                    padding: 10px 24px 10px 40px;
                    color: cornsilk;
                    font-family: serif;
                    font-weight: bold;
                    
                    "><i class="material-icons">dvr</i>Matemática cód 1</p>
                </div>
                <div class="card-content white" style="padding: 10px; display: inline-flex;">
                    <i class="material-icons">star</i>
                    <p style="color: rgba(0,0,0,0.60); 
                    font-family: sans-serif;
                    margin-left: 10px;
                    width: max-content;
                    
                    ">Ano</p>
                </div>
                <div class="card-content white" style="padding: 10px; display: inline-flex;">
                    <i class="material-icons">star</i>
                    <p style="color: rgba(0,0,0,0.60); 
                    font-family: sans-serif;
                    margin-left: 10px;
                    width: max-content;
                    
                    ">Professor(a) Nome </p>
                </div>
                <div class="card-content white" style="padding: 10px; display: inline-flex;">
                    <i class="material-icons">star</i>
                    <p style="color: rgba(0,0,0,0.60); 
                    font-family: sans-serif;
                    margin-left: 10px;
                    width: max-content;                    
                    ">Conteúdos Cadastrados</p>
                </div>
                <div class="card-action center">
                    <a class="waves-effect  btn" style="background-color: #2E3C5B;     padding: 0px 50px;">Acessar</a>
                </div>
            </div>
        </div>

        <div class="col s2 m5 l3">
            <div class="card white">
                <div style="background-color: #D5741B;">

                    <p style="
                    display: flex;
                    width: max-content;
                    padding: 10px 24px 10px 40px;
                    color: cornsilk;
                    font-family: serif;
                    font-weight: bold;
                    
                    "><i class="material-icons">dvr</i>Matemática cód 1</p>
                </div>
                <div class="card-content white" style="padding: 10px; display: inline-flex;">
                    <i class="material-icons">star</i>
                    <p style="color: rgba(0,0,0,0.60); 
                    font-family: sans-serif;
                    margin-left: 10px;
                    width: max-content;
                    
                    ">Ano</p>
                </div>
                <div class="card-content white" style="padding: 10px; display: inline-flex;">
                    <i class="material-icons">star</i>
                    <p style="color: rgba(0,0,0,0.60); 
                    font-family: sans-serif;
                    margin-left: 10px;
                    width: max-content;
                    
                    ">Professor(a) Nome </p>
                </div>
                <div class="card-content white" style="padding: 10px; display: inline-flex;">
                    <i class="material-icons">star</i>
                    <p style="color: rgba(0,0,0,0.60); 
                    font-family: sans-serif;
                    margin-left: 10px;
                    width: max-content;                    
                    ">Conteúdos Cadastrados</p>
                </div>
                <div class="card-action center">
                    <a class="waves-effect  btn" style="background-color: #2E3C5B;     padding: 0px 50px;">Acessar</a>
                </div>
            </div>
        </div>

        <div class="col s2 m5 l3">
            <div class="card white">
                <div style="background-color: #D5741B;">

                    <p style="
                    display: flex;
                    width: max-content;
                    padding: 10px 24px 10px 40px;
                    color: cornsilk;
                    font-family: serif;
                    font-weight: bold;
                    
                    "><i class="material-icons">dvr</i>Matemática cód 1</p>
                </div>
                <div class="card-content white" style="padding: 10px; display: inline-flex;">
                    <i class="material-icons">star</i>
                    <p style="color: rgba(0,0,0,0.60); 
                    font-family: sans-serif;
                    margin-left: 10px;
                    width: max-content;
                    
                    ">Ano</p>
                </div>
                <div class="card-content white" style="padding: 10px; display: inline-flex;">
                    <i class="material-icons">star</i>
                    <p style="color: rgba(0,0,0,0.60); 
                    font-family: sans-serif;
                    margin-left: 10px;
                    width: max-content;
                    
                    ">Professor(a) Nome </p>
                </div>
                <div class="card-content white" style="padding: 10px; display: inline-flex;">
                    <i class="material-icons">star</i>
                    <p style="color: rgba(0,0,0,0.60); 
                    font-family: sans-serif;
                    margin-left: 10px;
                    width: max-content;                    
                    ">Conteúdos Cadastrados</p>
                </div>
                <div class="card-action center">
                    <a class="waves-effect  btn" style="background-color: #2E3C5B;     padding: 0px 50px;">Acessar</a>
                </div>
            </div>
        </div>
    </div>
</div>